Django==1.9.2
appnope==0.1.0
beautifulsoup4==4.4.1
behave==1.2.5
decorator==4.0.9
django-extensions==1.6.1
enum34==1.1.2
gnureadline==6.3.3
ipython==4.1.1
ipython-genutils==0.1.0
parse==1.6.6
parse-type==0.3.4
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
requests==2.9.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.1.0
wsgiref==0.1.2