#feedback {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    width: 480px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#modal {
    position: absolute;
    background: rgba(0,0,0,0.2);
    border-radius: 14px;
    padding: 8px;
}

#modal_content {
    border-radius: 8px;
    background: #fff;
    min-height: 300px;
    min-width: 500px;
    padding: 20px;
    text-align: center;
}

#close {
    position: absolute;
    background: url(/static/img/close.png) 0 0 no-repeat;
    width: 24px;
    height: 27px;
    display: block;
    text-indent: -9999px;
    top: -7px;
    right: -7px;
}

.vote {
    width: 210px;
    margin: 0px auto;
}
.vote_cell {
    float: left;
}

.vote img:hover {
    cursor: pointer;
}