<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
    <link rel="stylesheet" href="{% static "css/modal.css" %}"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="{% static "js/modal.js" %}"></script>

{#<div id="overlay"></div>#}
{#<div id="modal">#}
{#    <div id="modal_content">We need a lot more content in here to see if this is going to work</div>#}
{#    <a href='#' id='close'>close</a>#}
{#</div>#}

<div class="top">
    <div class="top_cell"><img src="{% static "img/pyquiz_logo.png" %}"/></div>
    <div class="heading top_cell"><h1>{% block heading %}{% endblock %}</h1></div>
    <div style="clear: left;"></div>
</div>
<div class="content">
    <div class="left_side container">
        <div class="nav">
            <div class="nav_button"><a href="/quiz/list/">Quiz List</a></div>
            <div class="nav_button"><a href="/quizmaster/quiz/">Create a Quiz</a></div>
            {% if user.is_authenticated %}
            <div class="nav_button"><a href="/logout/">Logout</a></div>
            {% endif %}
        </div>
    </div>
    <div class="center container">
        {% block body %}
        {% endblock %}
    </div>
    <div class="right_side container">
        &nbsp;
    </div>
    <div style="clear: left;"></div>
</div>
<div class="bottom"></div>


</head>
<body>