<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>

<div class="top">
    <div class="container"><img src="{% static "img/pyquiz_logo.png" %}"/></div>
    <div class="heading container"><h2>{% block heading %}{% endblock %}</h2></div>
    <div style="clear: left;"></div>
</div>
<div class="content">
    <div class="left_side container">
        <div class="nav">
            <div class="nav_button"><a href="/quiz/list/">Quiz List</a></div>
            {% if user.is_authenticated %}
            <div class="nav_button"><a href="/logout/">Logout</a></div>
            {% endif %}
        </div>
    </div>
    <div class="center container">
        {% block body %}
        {% endblock %}
    </div>
    <div class="right_side container">
        &nbsp;
    </div>
    <div style="clear: left;"></div>
</div>
<div class="bottom"></div>

</head>
<body>